.view-ops-seller-applications-list {
  @include ops-list;

  aside {
    @include app-column-fixed;
    background: #f2f5f6;
    border-right: 5px solid #e4eaec;

    h1 {
      font-size: 1.4rem;
      font-weight: 700;
      padding: 1.5rem 1rem 1rem;
      margin: 0;
    }

    h2 {
      font-size: 1.2rem;
      font-weight: 700;
    }
  }

  .filters {
    padding: 1rem;

    ul.filters {
      padding-left: 0;
      margin-bottom: 0.5rem;
    }

    li {
      list-style: none;
      margin-bottom: 1rem;
    }

    label {
      display: block;
    }
    select {
      margin-top: 0.2em;
    }

    .btn {
      font-size: 1em;
    }
  }

  .current-view {
    @include app-column;
    flex: 1;
    padding: 1.5rem 1rem;
  }
}
