.view-ops-seller-applications-show {

  aside {
    @include app-column-fixed;
    background: #f2f5f6;
    border-right: 5px solid #e4eaec;

    h1 {
      font-size: 1.4rem;
      font-weight: 700;
      padding: 1.5rem 1rem 1rem;
      margin: 0;

      span {
        display: block;
        font-weight: normal;
        font-size: 0.75rem;
        margin-bottom: 0.1em;
      }
    }

    nav.vertical {
      ul li {
        a {
          color: #444;

          &:hover {
            background: darken(#f2f5f6, 5%);
          }
        }

        &.selected a {
          background: darken(#f2f5f6, 15%);
        }
      }
    }
  }

  .current-view {
    @include app-column;
    flex: 1;
    padding: 1rem;
  }

  .status-overview {
    @extend .row;

    padding-bottom: 1rem;
    border-bottom: 1px solid $grey-1;

    > div {
      @extend .col-6;

      font-size: 1.3rem;
      font-weight: 700;

      span {
        display: block;
        font-size: 0.9rem;
        font-weight: normal;
        padding-bottom: 0.1rem;
      }

      &:last-of-type {
        text-align: right;
      }
    }
  }

  dl {
    @extend .row;
    padding-top: 1rem;
    padding-bottom: 1rem;

    dt, dd {
      border-bottom: 1px solid $grey-1;
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
      margin-bottom: 0;
    }

    dt {
      @extend .col-4;
    }

    dd {
      @extend .col-8;
    }

    em {
      color: #888;
    }
  }

  .make-decision {
    border-top: 3px solid $grey-2;
    padding-top: 1rem;
  }

}
