<p>Congratulations!</p>

<p>
  Your application for <%= @application.seller.name %> to become a seller on <strong>buy.nsw</strong> has been approved.
</p>

<p>
  You can view and update your seller profile now.
</p>

<p><%= link_to "View your seller profile", sellers_profile_url(@application.seller) %></p>
