<p>Dear <%= @application.seller.name %>,</p>

<p>
  We are pleased to inform you that your application has been successful. Welcome to the <strong>buy.nsw</strong> community!
</p>

<% if @application.response.present? %>
<p>Here’s the feedback from our review team:</p>

<div class="quote">
  <%= simple_format(h(@application.response)) %>
</div>
<% end %>

<p>
  As a registered seller, buyers will be able to browse your company profile and products on <strong>buy.nsw</strong>.
</p>

<p>
  For any amendments to your company information, contact details or product descriptions, please contact us at <%= mail_to "buy.nsw@finance.nsw.gov.au" %>.
</p>

<p>
  Thank you for joining <strong>buy.nsw</strong>.
</p>

<p>
  Speak soon,<br>
  The <strong>buy.nsw</strong> team
</p>
