<p>
  Your application for <%= @application.seller.name %> to sell on the
  NSW Marketplace needs some changes before it can be approved.
</p>

<p>
  Feedback from the reviewer: "<%= @application.response %>"
</p>

<p><%= link_to "Update application", sellers_application_url(@application) %></p>
