<p>
  Sorry, your application for <%= @application.seller.name %> to sell on NSW Marketplace has not been approved.
</p>

<p>
  Feedback from the reviewer: "<%= @application.response %>"
</p>

<p>What do I do now?</p>

<p>...</p>
