<p>
 Your application to become a buyer on <strong>buy.nsw</strong> has been approved.</p> 
</p>
<p>
You also got this feedback from your reviewer:"<%= @application.decision_body %>"
</p>

<p> You're free to start browsing <strong>buy.nsw</strong>.  

<p><%= link_to 'Get started', root_url %></p>
