<p>Hello <%= @application.buyer.name %>,</p>

<% if @application.decision_body.present? %>
  <p>Your application to become a buyer was approved with this feedback from our team:</p>

  <div class="quote">
    <%= format_text_block @application.decision_body %>
  </div>
<% else %>
  <p>Your application to become a buyer was approved.</p>
<% end %>

<p>
  As a registered buyer, you can browse and buy cloud products and services
  from
  <%= link_to buyers_dashboard_url do %>
    <strong>buy.nsw</strong>
  <% end %>.
</p>

<p>
  <strong>buy.nsw</strong> is an agile development, which means the platform will evolve over
  time in response to feedback from buyers and sellers. To share your feedback,
  or to request an amend to your account information, please contact us at
  <%= mail_to 'buy.nsw@finance.nsw.gov.au' %>.
</p>

<p>
  More soon,<br>
  The <strong>buy.nsw</strong> team
</p>
