<p>
  Your application to become a buyer on <strong>buy.nsw</strong> wasn't approved.
</p>
<p>
  The reason is because: "<%= @application.decision_body %>"
</p>
<p> You can apply again in future if the situation changes. Thanks for your interest in <strong>buy.nsw</strong>.</p>

