<p>Hello <%= @application.buyer.name %>,</p>

<p>Thanks for your application to become a buyer on <strong>buy.nsw</strong>.</p>

<% if @application.decision_body.present? %>
  <p>
    After a careful review, we’ve decided your application doesn’t meet the
    criteria at this time because:
  </p>

  <div class="quote">
    <%= simpler_format @application.decision_body %>
  </div>
<% else %>
<p>
  After a careful review, we’ve decided your application doesn’t meet the
  criteria at this time.
</p>
<% end %>

<p>
  If you have any questions, you can contact us at
  <%= mail_to 'buy.nsw.@finance.nsw.gov.au' %>.
</p>

<p>The <strong>buy.nsw</strong> team</p>
