<% if @application.decision_body.present? %>
<p>
 Your application to become a buyer on <strong>buy.nsw</strong> has been approved, with this feedback from our team:
</p>

<p> 
 "<%= @application.decision_body %>"
</p>
<% else %>
<p>
 Your application to become a buyer on <strong>buy.nsw</strong> has been approved.
</p>
<% end %>

<p> You're free to begin browsing <strong>buy.nsw</strong>.  

<p><%= link_to 'Get started', root_url %></p>
