<p>
  Your application to buy things on NSW Marketplace has been approved.
</p>

<p>
  Feedback from the reviewer: "<%= @application.decision_body %>"
</p>

<p>You can now see full seller profiles</p>

<p><%= link_to 'Get started', root_url %></p>
