.view-cloud {
  background: $light-purple;

  header[role=banner] {
    background: #fff;
    padding: 5rem 0 1rem;
    margin-bottom: 2em;
    min-height: 400px;

    h1 {
      width: 75%;
      font-size: 5rem;
      line-height: 1.1em;
    }

    h2 {
      font-size: 2.4rem;
      font-weight: 500;
      width: 75%;
    }

    p {
      font-size: 1.5rem;
    }
  }

  .categories {
    @extend .container;

    ul.intro {
      padding-left: 1em;
      font-size: 1.1em;
    }

    li {
      padding-bottom: 0.6em;
    }

    > p, > li {
      width: 75%;
    }
  }

  ul.category-list {
    @extend .row;

    padding: 1rem 0 4rem;
    margin-bottom: 0;

    li {
      @extend .col-md-4;
      list-style: none;
      padding-right: 0;
    }

    h2 {
      font-size: 1.6em;
      width: 75%;
    }

    .box {
      background: $white;
      color: $black;
      padding: 1rem;
      box-shadow: darken($light-purple, 7%) 0px 2px 2px;
      min-height: 17rem;
    }

    .action {
      @extend .btn;
      @extend .btn-primary;
      @extend .btn-block;

      font-size: 1.1rem;
      margin-top: 2rem;
    }
  }

  .seller-action {
    @extend .row;

    background: $grey-1;
    padding: 1em 0 0;
    margin-top: 2em;
    margin-bottom: 3em;

    h2 {
      font-size: 1.2em;
      margin-bottom: 0.3em;
    }
    .overview {
      @extend .col-md-8;
    }
    .action {
      @extend .col-md-4;
      text-align: right;
      padding-top: 0.3em;

      a {
        @extend .btn;
        @extend .btn-primary;
      }
    }
  }

}
