.agreement-text {
  line-height: 1.6em;
  margin: 1.5rem auto;

  h1, h2, h3, h4 {
    margin: 1.5rem 0 0.5rem;

    &:first-child {
      margin-top: 0;
    }
  }
  p, ul, ol {
    margin: 0 0 .5rem;
  }

  h1 {
    font-size: 1.1rem;
  }
  h2 {
    font-size: 1rem;
    background: $light-purple;
    padding: .3rem;
  }
  h3, h4 {
    font-size: .9rem;
  }
}
