.with-big-header {
  main {
    min-height: 50vh;
  }

  header {
    height: auto;

    .main-title {
      padding-top: 2rem;

      @include media-breakpoint-up(md) {
        padding-top: 4rem;
      }
    }

    h1.logo a {
      display: inline-block;
    }

    h1.site-title {
      font-size: 2.2rem;
      padding: 0;

      @include media-breakpoint-up(md) {
        font-size: 5rem;
      }
    }

    p.subtitle {
      font-size: 1.2rem;
      font-weight: normal;
      padding: .5rem 0 2rem;
      margin-bottom: 0;

      @include media-breakpoint-up(md) {
        font-size: 1.8rem;
        padding-bottom: 2.5rem;
      }
    }
  }
}

.view-static-homepage {
  padding-bottom: 2rem;

  @include media-breakpoint-up(md) {
    font-size: 1.1rem;
  }

  .needs {
    @include make-row();
    padding-top: 2rem;
  }

  .buy {
    @include make-col-ready();

    @include media-breakpoint-up(lg) {
      @include make-col(8);
    }
  }
  .sell {
    @include media-breakpoint-up(lg) {
      @include make-col(4);
    }
  }

  .buy, .sell {
    @include make-col-ready();
  }

  .coming-soon {
    background: $light-purple;
    padding: .5rem;

    p:last-of-type {
      margin: 0;
    }

    a {
      display: inline;
    }
  }

  .updates {
    @include make-row();
    padding-top: 1.5rem;

    header, .update-list {
      @include make-col-ready();
    }

    header {
      @include media-breakpoint-up(lg) {
        @include make-col(4);
      }

      h2 {
        font-size: 1.8rem;
      }
    }

    .update-list {
      @include media-breakpoint-up(lg) {
        @include make-col(8);
      }

      ol {
        padding-left: 0;
        list-style: none;
      }

      li {
        &:not(:last-of-type) {
          border-bottom: 1px solid $grey-3;
          padding-bottom: .5rem;
          margin-bottom: .5rem;
        }

        a {
          font-weight: bold;
          text-decoration: none;
        }

        .metadata {
          font-size: .85rem;

          span:not(:last-of-type) {
            padding-right: .5rem;
          }
        }
      }
    }
  }
}
