.with-big-header {
  main {
    min-height: none;
  }
}

.main-title {
  height: 400px;

  h1 {
    @extend .col-md-12;

    font-size: 3.8rem;
    line-height: 1.2em;
    padding-top: 7.5rem;
    padding-right: 20%;
  }
}

.view-static-index {
  background: $light-purple;
  border-top: 1px solid darken($light-purple, 5%);

  padding-bottom: 2rem;

  .audiences {
    @extend .row;
    padding-bottom: 1rem;

    > h2 {
      @extend .col-md-12;
      font-size: 1.6rem;
      margin: 2rem 0 .5rem;
    }
  }

  .feature {
    margin: 0;

    h2 {
      font-size: 1.4rem;
      font-weight: 500;
    }

    .btn {
      font-size: 1.3rem;
      border-bottom: 4px solid darken($light-blue, 5%);
    }

    &.half-width {
      @extend .col-md-6;

      .inner {
        p:first-of-type {
          min-height: 5em;
        }
      }
    }
    &.full-width {
      @extend .col-12;
    }

    .inner {
      background: $white;
      color: $black;
      padding: 1rem;
      box-shadow: darken($light-purple, 7%) 0px 2px 2px;
    }

    padding: 1em;

    h1 {
      font-size: 1.8rem;
    }
  }

  .inline-search-form {
    form {
      @extend .form-inline;

      .form-group {
        flex: 1 0 auto;
      }
      input.form-control {
        width: 100%;
        margin-right: .5rem;
      }
      input[type=submit] {
        font-size: 1.1rem;
        border-bottom: none;
      }
    }
  }
}
