<p>Deactivating this buyer account will remove their access to <strong>buy.nsw</strong> immediately.</p>

<p>If you need to re-activate the account, please contact the <strong>buy.nsw</strong> team for help.</p>

<%= button_to 'Deactivate buyer',
              deactivate_ops_buyer_path,
              class: 'btn btn-danger',
              data: { method: :post } %>
