<% content_for(:ops_content) do %>
<section class="view-ops-buyers-list">
  <div class="column-set">
    <aside>
      <h1>Buyers</h1>

      <%= render partial: 'filters', locals: { search: search } %>
    </aside>

    <div class="current-view">
      <section class="record-list">
        <h2><%= pluralize(search.result_count, 'buyer') %></h2>
        <%= render partial: 'list', locals: { results: search.paginated_results } %>
        <%= paginate search.paginated_results %>
      </section>
    </div>
  </div>
</section>
<% end %>
