<p>Please write a few lines to tell us why you'd like an account on buy.nsw.</p>

<%= f.text_area :application_body, hide_label: true, rows: 5 %>

<fieldset class="actions">
  <%= f.submit 'Save and continue' %>
</fieldset>
