<p>As you haven't used a @nsw.gov.au email address, your buyer account requires approval. Please tell us why you need an account.</p>

<%= f.text_area :application_body, hide_label: true, rows: 5 %>

<fieldset class="actions">
  <%= f.submit 'Save and continue' %>
</fieldset>
