<p>To create your account we will also need approval from a line manager who:</p>

<ul>
  <li>Is a NSW Government employee, and</li>
  <li>is satisfied you need to access <strong>buy.nsw</strong>.</li>
</ul>

<%= f.input :manager_name %>
<%= f.input :manager_email %>

<fieldset class="actions">
  <%= f.submit 'Save and continue' %>
</fieldset>
