<p>To create your account we will also need approval from a line manager who:</p>

<ul>
  <li>Is a NSW Government employee, and</li>
  <li>is satisfied you need to access the Digital Marketplace.</li>
</ul>

<%= f.text_field :manager_name %>
<%= f.text_field :manager_email %>

<fieldset class="actions">
  <%= f.submit 'Save and continue' %>
</fieldset>
