<fieldset class="actions">
  <% if operation['result.ready_for_submission'].present? %>
    <%= f.submit 'Submit application' %>
  <% else %>
    <p>Please complete all other steps before submitting your buyer appplication.</p>
  <% end %>
</fieldset>
