<% content_for(:seller_application_class, 'invitations') %>

<ul class="breadcrumbs">
  <li><%= link_to 'Your application', sellers_application_path(application) %></li>
  <li>Your team members</li>
</ul>


<h1>Your team members</h1>

<p>You can collaborate on this application with other people from your organisation.</p>

<p class="invite-action">
  <%= link_to 'Invite a team member', new_sellers_application_invitation_path(application) %>
</p>

<ul class="current-team">
  <h2>Current team members</h2>
  <% application.seller.owners.each do |user| %>
    <li>
      <%= user.email %>
      <% unless user.confirmed_at.present? %>
        (invitation sent)
      <% end %>
    </li>
  <% end %>
</ul>
