<section class="new-invitation">
  <header>
    <h1>Invite a team member</h1>

    <p>You can invite other members of your team to your seller profile.</p>
    <p>Team members get full access to view and edit your company's profile and application.</p>
    <p>We will send an invitation to them by email with further instructions.</p>
  </header>

  <%= bootstrap_form_for form,
                         url: sellers_application_invitations_path(operation[:application_model]),
                         as: :invitation do |f| %>

    <%= f.text_field :email %>
    <%= f.submit 'Send invitation' %>
  <% end %>
</section>
