<h2>Buyer details</h2>

<%= display_buyer_list(type: :basic, resource: application.buyer) %>
<%= display_buyer_list(type: :application, resource: application) %>
<%= display_buyer_list(type: :manager, resource: application) %>
