<div data-module="max-word-count" data-max-word-count="200">
  <%= f.text_area :onboarding_assistance, rows: 7 %>
</div>

<div data-module="max-word-count" data-max-word-count="200">
  <%= f.text_area :offboarding_assistance, rows: 7 %>
</div>
