<tr class="product">
  <th scope="row">
    <% if product.name.present? %>
      <%= product.name %>
    <% else %>
      <em><%= t("sellers.applications.products.empty_name_label") %></em>
    <% end %>
  </th>
  <td>
    <%= progress_indicator_for(
          progress_report.question_set_progress["sellers.applications.products.#{product.id}"]
        ) %>
  </td>
  <td class="actions">
    <%= link_to 'Edit', sellers_application_product_path(application, product), class: 'action' %>
  </td>
</tr>
