<% content_for(:seller_application_class, 'products-list') %>

<%= render_breadcrumbs(seller_application_products_list_breadcrumbs) %>

<h1>Add cloud products</h1>

<p>Adding products is optional and will take around 45 minutes per product.</p>

<p>Each product must:</p>

<ul>
  <li>have a unique name that's not your business name, eg. Nimbus by CloudTech Inc.</li>
  <li>be priced by the unit, instead of by an hourly or day rate of your employees</li>
  <li>be described in detail as to how it is hosted and delivered to the end user</li>
</ul>

<p>If what you offer is different, for example penetration testing services, you can still join <strong>buy.nsw</strong>. Please submit your application without adding cloud products. We may ask you for more information later.</p>

<div class="warning">
  <span aria-hidden="true"></span>

  <div class="inner">
    <p>Please don't create products for:</p>

    <ul>
      <li>professional services</li>
      <li>services priced as an outcome, eg. a website</li>
      <li>services priced by day or hourly rates</li>
    </ul>

    <p>This will delay the processing of your application.</p>
  </div>
</div>

<p class="product-add">
  <%= link_to new_sellers_application_product_path(application) do %>
    <%= t('sellers.applications.products.new_product_action_label') %>
  <% end %>
</p>

<% if products.any? %>
  <ul class="products">
    <h2>Your cloud products</h2>
    <%= render partial: 'row', collection: products, as: :product %>
  </ul>
<% end %>
