<% content_for(:seller_application_class, 'products-list') %>

<ul class="breadcrumbs">
  <li><%= link_to 'Your application', sellers_application_path(application) %></li>
  <li>Your cloud products</li>
</ul>

<h1>Your cloud products</h1>

<p>Here you can add details about your product offering.</p>
<p>Products are discrete goods or services which can be purchased by the unit.</p>

<p class="product-add">
  <%= link_to new_sellers_application_product_path(application) do %>
    Add a product
  <% end %>
</p>

<% if products.any? %>
  <ul class="products">
    <%= render partial: 'row', collection: products, as: :product %>
  </ul>
<% end %>
