<% content_for(:seller_application_class, 'products-list') %>

<%= render_breadcrumbs(seller_application_products_list_breadcrumbs) %>

<h1>Your cloud products (optional)</h1>

<p>Here you can add details about your product and service offering.</p>
<p>These are discrete goods or services which can be purchased by the unit.</p>

<p class="product-add">
  <%= link_to new_sellers_application_product_path(application) do %>
    <%= t('sellers.applications.products.new_product_action_label') %>
  <% end %>
</p>

<% if products.any? %>
  <ul class="products">
    <%= render partial: 'row', collection: products, as: :product %>
  </ul>
<% end %>
