@mixin ops-details {
  dl {
    @extend .row;
    padding-top: 1rem;
    padding-bottom: 1rem;

    dt, dd {
      border-bottom: 1px solid $grey-1;
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
      margin-bottom: 0;

      ul, p:last-of-type {
        margin-bottom: 0;
      }
      ul {
        padding-left: 1rem;
      }
    }

    dt {
      @extend .col-4;
    }

    dd {
      @extend .col-8;
    }

    em {
      color: #888;
    }
  }
}

.ops-details {
  @include ops-details;
}
