.views-cloud {

  header[role=banner] {
    background: $light-blue;
    color: $white;
    padding: 2.5rem 0;
    margin-bottom: 3em;

    h1 {
      width: 75%;
      font-size: 3.8rem;
      line-height: 1.1em;
    }

    p {
      font-size: 1.5rem;
    }
  }

  .categories {
    @extend .container;

    > p {
      width: 75%;
    }
  }

  ul.category-list {
    @extend .row;
    padding: 2em 0;

    li {
      @extend .col-md-4;
      list-style: none;
      padding-right: 7%;
    }

    h2 {
      font-size: 1.2em;
    }

    .action {
      @extend .btn;
      @extend .btn-primary;

      font-size: 1rem;
    }
  }

  .seller-action {
    @extend .row;

    background: $grey-1;
    padding: 1em 0 0;
    margin-top: 2em;
    margin-bottom: 3em;

    h2 {
      font-size: 1.2em;
      margin-bottom: 0.3em;
    }
    .overview {
      @extend .col-md-8;
    }
    .action {
      @extend .col-md-4;
      text-align: right;
      padding-top: 0.3em;

      a {
        @extend .btn;
        @extend .btn-primary;
      }
    }
  }

}
