<% content_for :header do %>
  <h1>
    <span class="type-label">Seller application<span class="visually-hidden">:</span></span>
    <%= application.seller.name %>
  </h1>

  <% unless ['tailor','root'].include?(controller_name) %>
    <div class="action">
      <%= link_to sellers_application_path(application) do %>
        Application overview &#11014;
      <% end %>
    </div>
  <% end %>
<% end %>

<% if content_for?(:seller_breadcrumb) %>
  <div class="seller-breadcrumbs">
    <%= link_to 'Your application', sellers_application_path(application) %> &rarr;
    <%= yield(:seller_breadcrumb) %>
  </div>
<% end %>
