<% content_for(:content) do %>
  <section class="view-sellers-applications <%= yield(:seller_application_class) if content_for?(:seller_application_class) %>">
    <%= yield %>
  </section>
<% end %>
<%= render template: 'layouts/application' %>
