<div class="progress-indicator">
  <% if step_completed?(step) %>
    <div class="status complete">
      <span class="inner">All details provided</span>
    </div>
  <% elsif step_started?(step) %>
    <div class="status started">
      <span class="inner"><%= step['result.percent_complete'] %>% complete</span>
    </div>
  <% else %>
    <div class="status">
      <span class="inner">Not yet started</span>
    </div>
  <% end %>
</div>
