<div class="progress-indicator">
  <% if question_set_completed?(question_set) %>
    <div class="status complete">
      <span class="inner">All details provided</span>
    </div>
  <% elsif question_set_started?(question_set) %>
    <div class="status started">
      <span class="inner"><%= question_set[:percent_complete] %>% complete</span>
    </div>
  <% else %>
    <div class="status">
      <span class="inner">Not yet started</span>
    </div>
  <% end %>
</div>
