<section class="view-ops-seller-applications-list">
  <header class="view-header in-padded-container">
    <h1>Seller applications</h1>
  </header>

  <section class="record-list">
    <h2><%= pluralize(applications.size, 'applications') %></h2>
    <%= render partial: 'list', locals: {
          applications: applications,
          empty_message: 'No applications',
        } %>
  </section>
</section>
