<% content_for(:ops_content) do %>
<section class="view-ops-seller-applications-list">
  <div class="column-set">
    <aside>
      <h1>Seller applications</h1>

      <%= render partial: 'filters', locals: { search: search } %>
    </aside>

    <div class="current-view">
      <section class="record-list">
        <h2><%= pluralize(search.result_count, 'application') %></h2>
        <%= render partial: 'list', locals: {
              search: search,
              applications: search.paginated_results,
            } %>
        <%= paginate search.paginated_results %>
      </section>
    </div>
  </div>
</section>
<% end %>
