<li class="result">
  <h3><%= link_to seller_version.name, sellers_profile_path(seller_version) %></h3>
  <div class="tags"><%= seller_profile_tags(seller_version) %></div>
  <p><%= seller_version.summary %></p>
</li>
