.view-ops-root {

  ul.dashboard-sections {
    @include make-row();
    padding-left: 0;

    li {
      @include make-col-ready();
      @include media-breakpoint-up(md) {
        @include make-col(6);
      }
      
      list-style: none;
      padding-bottom: 1rem;

      &:nth-of-type(odd) {
        padding-right: .5rem;
      }
      &:nth-of-type(even) {
        padding-left: .5rem;
      }

      a {
        text-decoration: none;
        display: block;
        padding: 3rem 4rem 4rem;
        background: #fafafa;
        border: 1px solid #eee;
        color: #000;
        text-align: center;
        font-size: 1.3rem;

        &:hover {
          background: #f6f6f6;
        }
      }

      .big-number {
        font-weight: 700;
        font-size: 5rem;
        display: block;
        line-height: 1.1em;
      }
    }
  }

}
