.view-ops-seller-applications-list {
  @include ops-resource-list-column-set;
}

.view-ops-seller-applications-show {
  @include ops-resource-show-column-set;

  .make-decision, .make-assignment, .add-note {
    @include operation-box;
  }

  .invited-message {
    margin: 1rem 0 0;
    padding: .5rem 1rem;
    background: $light-purple;
  }

  .documents {
    padding-left: 0;
    margin: 1.5rem 0;
  }

  .document {
    @include make-row();

    list-style: none;
    padding-top: 1rem;
    padding-bottom: 1rem;

    background: #fff;

    &:nth-of-type(odd) {
      background: #f5f5f5;
    }

    header {
      @include make-col-ready();
      @include make-col(4);

      padding-right: 10%;

      h3 {
        font-size: 1.3rem;
      }
    }

    .document-details {
      @include make-col-ready();
      @include make-col(8);
    }

    .file-name {
      font-weight: 600;
    }

    h3, p {
      margin-bottom: 0.8rem;
    }

    .btn {
      font-size: 1rem;
    }
  }

  .product-details {
    font-size: 0.9rem;

    h2 {
      @include make-col-ready();
      @include make-col(12);
    }
  }

}
