<section class="view-ops-waiting-sellers">
  <div class="column-set">
    <aside>
      <h1>Seller waitlist</h1>
    </aside>

    <div class="current-view">
      <%= render partial: 'upload_form' %>
    </div>
  </div>
</section>
