<p>You have been invited to join <strong><%= @application.seller.name %></strong> on the Digital Marketplace.</p>

<p>Click the button below to accept the invitation.</p>

<p><%= link_to "Accept invitation", user_confirmation_url(confirmation_token: @user.confirmation_token), class: 'button' %></p>
