<p>You've been invited to help with <%= owner_name(@application) %>'s application to join <strong>buy.nsw</strong>.</p>

<p>Click the button below to accept the invitation.</p>

<p><%= link_to "Accept invitation", accept_sellers_application_invitations_url(@application, confirmation_token: @user.confirmation_token), class: 'button' %></p>
