.view-pathways-products-show {
  @include profile;
  @include tags;

  header.with-seller-details {
    h1 {
      margin-bottom: 0.3em;
    }
    .seller {
      margin-bottom: 0;
      vertical-align: bottom;
    }
    ul.tags {
      display: inline-block;
      padding-left: .5rem;
      margin-bottom: 0;
      vertical-align: bottom;
    }
  }

  .price {
    font-weight: 600;
    font-size: 1.4em;
    margin-bottom: 1rem;
    line-height: 1.1em;
    text-align: left;
  }

  dl {
    font-size: 0.8em;
  }

  .basics {
    @extend .intro;

    h2 {
      font-size: 1.3rem;
    }

    dl {
      font-size: 1rem;
      margin-bottom: 1rem;

      dt {
        @include make-col-ready();
        @include media-breakpoint-up(md) {
          @include make-col(4);
        }

        font-weight: bold;
      }
      dd {
        @include make-col-ready();
        @include media-breakpoint-up(md) {
          @include make-col(8);
        }

        p:last-of-type {
          margin-bottom: 0;
        }
      }
    }

    .contact {
      padding-top: 1.5rem;
      text-align: left;

      span {
        display: block;
      }
    }

    .features-benefits {
      @include make-row();

      border-top: 1px solid #eee;
      padding-top: 1.5rem;
      margin-top: 1.5rem;
      margin-bottom: 1rem;

      ul {
        @include make-col-ready();
        @include media-breakpoint-up(md) {
          @include make-col(6);
        }

        margin-bottom: 1rem;
      }
      li {
        margin-left: 20px;
      }
    }
  }
}
