.view-pathways-products-show {
  @include profile;

  header.with-seller-details {
    h1 {
      margin-bottom: 0.3em;
    }
    p {
      margin-bottom: 0;
    }
  }

  .price {
    font-weight: 600;
    font-size: 1.4em;
    margin-bottom: 1rem;
    line-height: 1.1em;
    text-align: left;
  }
}
