body.ops {
  .column-set {
    @include app-column-container;

    .left-col, .right-col {
      height: 100vh;
      overflow: scroll-y;
    }

    .left-col {
      @include app-column-fixed;

      background: $grey-3;
      border-right: 5px solid darken($grey-1, 5%);
    }

    .right-col {
      @include app-column;

      flex: 1;
    }
  }

  h2 {
    font-size: 1.4rem;
  }
}
