body.ops {
  .column-set {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0;
    margin: 0;

    .left-col, .right-col {
      height: 100vh;
      overflow: scroll-y;
    }

    .left-col {
      width: 20vw;
      background: $grey-3;
      border-right: 5px solid darken($grey-1, 5%);
    }

    .right-col {
      padding: 1rem;
      flex: 1;
    }
  }
}
