@mixin ops-list {
  h2 {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .record-list {
    margin-bottom: 2rem;

    > header {
      @include make-row();
      padding-bottom: .5rem;

      h2, .list-actions {
        @include make-col-ready();
        @include make-col(6);
      }

      .list-actions {
        text-align: right;

        > a {
          @include button;
          font-size: .85rem;
        }
      }
    }

    table {
      font-size: 0.9rem;

      .actions {
        padding: 0.35rem 0.85rem;

        a {
          @include button;
          font-size: 0.9em;
        }
      }
    }

    .no-records {
      background: $grey-1;
      display: block;
      padding: 1rem 1rem .5rem;
      text-align: center;
      font-size: 0.9rem;

      a {
        @include button;
        font-size: 1rem;
      }
    }
  }

}
