body.ops {

  nav.vertical {
    min-height: 70vh;

    ul {
      padding-left: 0;

      li {
        list-style: none;

        a {
          padding: 0.8em 1em;
          display: block;
          font-size: 0.9rem;
          text-decoration: none;
          color: $white;
          font-weight: 500;

          &:hover {
            background: darken($grey-3, 5%);
          }

          .oi {
            font-weight: normal;
            width: 1.5rem;
          }
        }

        &.selected a {
          background: darken($grey-3, 10%);
        }
      }
    }
  }

  footer {
    color: $white;
    font-size: 0.75rem;

    border-top: 1px solid lighten($grey-3, 10%);
    padding-top: 1em;
    text-align: center;
  }
}
