@mixin ops-resource-show-column-set {
  @include ops-details;

  aside {
    @include app-column-fixed;
    background: #f2f5f6;
    border-right: 3px solid #e4eaec;
    width: 20vw;

    h1 {
      font-size: 1.4rem;
      font-weight: 700;
      padding: 1.5rem 1rem 1rem;
      margin: 0;

      span {
        display: block;
        font-weight: normal;
        font-size: 0.75rem;
        margin-bottom: 0.1em;
      }
    }

    nav.vertical {
      ul li {
        a {
          color: #444;

          &:hover {
            background: darken(#f2f5f6, 5%);
          }
        }

        &.selected a {
          background: darken(#f2f5f6, 15%);
        }
      }

      h3 {
        color: #444;
      }
    }
  }

  .current-view {
    @include app-column;
    flex: 1;
    padding: 1rem;
  }

  .status-overview {
    @include make-row();

    padding-bottom: 1rem;
    border-bottom: 1px solid $grey-1;

    > div {
      @include make-col-ready();
      @include make-col(6);

      font-size: 1.3rem;
      font-weight: 700;

      span {
        display: block;
        font-size: 0.9rem;
        font-weight: normal;
        padding-bottom: 0.1rem;
      }

      &:last-of-type {
        text-align: right;
      }
    }
  }
}
