<table class="table table-striped">
  <thead>
    <tr>
      <th>Time</th>
      <th>User</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <% events.each do |event| %>
      <tr>
        <td><%= event.created_at.localtime.to_formatted_s(:long) %></td>
        <td><%= event.user.email if event.user%></td>
        <td><%= event.message %></td>
      </tr>
    <% end %>
  </tbody>
</table>
