.message {
  background: $grey-1;
  border-bottom: 1px solid $grey-2;
}

.message-container {
  @extend .container;
}

.message p {
  @extend .col-md-8;
  margin-bottom: 0;
  padding: 1rem;
}

.message-alert {
  @extend .alert;
  @extend .alert-danger;

  border-radius: 0px;
}
