.messages {
  background: $grey-1;
  border-bottom: 1px solid $grey-2;
}

.message-container {
  @extend .container;
}

.messages ul {
  @extend .col-md-8;
  padding-left: 0;
  margin-bottom: 0;
}

.messages li {
  list-style: none;
  padding: 1rem;
}

.message-alert {
  @extend .alert;
  @extend .alert-danger;

  border-radius: 0px;
}
