.message {
  border-bottom: 1px solid $grey-2;
  animation: 0.5s forwards 1s 1 fadeOut;
}

.message-container {
  @extend .container;
}

.message p {
  @extend .col-md-8;
  margin-bottom: 0;
}

.message-alert {
  @extend .alert;
  @extend .alert-danger;

  border-radius: 0px;
}

.message-notice {
  @extend .alert;
  @extend .alert-success;

  border-radius: 0px;
}

@keyframes fadeOut {
  0% {
    opacity: 1.0;
  }
  100% {
    opacity: 0.5;
  }
}
