body {
  background: #fefefe;
}

main {
  @extend .container;
  padding-top: 2rem;
  padding-bottom: 2rem;
  min-height: 75vh;
}

footer {
  background: #fff;
  min-height: 10vh;
  border-top: 8px solid $dark-blue;
}
