body {
  background: #fefefe;
}

main {
  min-height: 75vh;

  &.with-container {
    @include make-container();
    @include make-container-max-widths();

    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@mixin two-thirds {
  @include media-breakpoint-up(md) {
    width: 65%;
  }
}
