.btn {
  border: none;
  border-radius: 0px;
  font-weight: 700;
  font-size: 1.3rem;
  padding: 0.4em 1.2em;
  text-decoration: none;
}

.btn-primary, .btn-secondary {
  background: $light-blue;

  &:hover {
    background: darken($light-blue, 15%);
  }
}
