.btn, a.btn:link {
  border: none;
  border-radius: 0px;
  font-weight: 600;
  font-size: 1.1rem;
  padding: 0.4em 1.2em;
  text-decoration: none;
  transition: none;
  display: block;
  width: 100%;

  @include media-breakpoint-up(md) {
    font-size: 1.3rem;
    display: inline-block;
    width: auto;
  }

  &:focus {
    outline: 3px solid $focus-colour;
    color: $white;
  }

  &.btn-primary, &.btn-secondary {
    background: $light-blue;

    &:hover, &:focus {
      background: darken($light-blue, 15%);
      border-bottom-color: darken($light-blue, 20%);
    }

    border-bottom: 4px solid darken($light-blue, 8%);
  }

  &.btn-danger {
    background: $red;

    &:hover, &:focus {
      background: darken($red, 15%);
      border-bottom-color: darken($red, 20%);
    }

    border-bottom: 4px solid darken($red, 8%);
  }
}
