.problem-report-container {
  border-top: 1px solid $grey-3;
  padding-top: 1rem;
  padding-bottom: 1rem;

  form {
    padding-top: 1rem;
    padding-bottom: 1.5rem;

    @include two-thirds;

    h1 {
      font-size: 1.7rem;
    }

    .block-error {
      margin-top: 0;
    }

    .mini-error {
      margin-bottom: 1rem;
      color: $red;
      font-weight: bold;
    }
  }
}
