footer.global {
  .container {
    font-size: 1em;
    padding: 1.5em 1em;
    color: #acacac;

    .footer-left, .footer-right {
      @include make-col-ready();
      
      @include media-breakpoint-up(md) {
        @include make-col(6);
      }

      ul {
        list-style: none;
        padding-left: 0;
      }
    }
    .footer-right {
      @include media-breakpoint-up(md) {
        text-align: right;
      }
    }
    a {
      color: #acacac;
      text-decoration: none;

      &:focus {
        color: $black;
      }
    }
  }

  background: #1d1d1d;
  min-height: 10vh;
  border-top: 8px solid lighten(#1d1d1d, 25%);
}
