footer[role=global] {
  .container {
    font-size: 0.76em;
    padding: 1.5em 1em;
    color: #888;
    .footer-left, .footer-right {
      @extend .col-md-6;
    }
    .footer-right {
      text-align: right;
    }
  }

  background: #fff;
  min-height: 10vh;
  border-top: 8px solid $dark-blue;
}
