body {
  font-size: 17px;
}

h1, h2, h3, h4 {
  font-weight: 700;
  margin-bottom: 0.6em;
}

h1 {
  font-size: 32px;
}

a {
  color: $dark-blue;
  text-decoration: underline;

  &:hover {
    color: darken($dark-blue, 10%);
  }
}
