<li class="result">
  <h3>
    <%= link_to product.name, pathway_product_path(section, product) %>
    <div class="seller-details">
      <span class="visually-hidden">by</span>
      <%= product.seller.name %>
    </div>
  </h3>
  <p class="summary"><%= product.summary.truncate_words(50) %></p>
</li>
