<div data-module="max-word-count" data-max-word-count="200">
  <%= f.input :onboarding_assistance, as: :text, input_html: { rows: 7 } %>
</div>

<div data-module="max-word-count" data-max-word-count="200">
  <%= f.input :offboarding_assistance, as: :text, input_html: { rows: 7 } %>
</div>
