<p>
  Where you upload your own additional terms, they have no legal effect where:
<p>
<ul>
  <li>they conflict with, or limit, the operation of the Core Terms or Solution Requirements</li>
  <li>they relate to or expand on areas of law that are addressed in the Core Terms or Solution Requirements</li>
  <li>or they have the effect of increasing our scope of legal obligations to you</li>
</ul>
<p>
  As set out in our <%= link_to 'Core Terms', '' %>.
</p>

<%= render partial: 'sellers/applications/forms/shared/file_upload', locals: { f: f, field: :terms } %>
