<% content_for(:step_container_header) do %>
  <h1>Provide documents</h1>
  <p>Your corporate documents will appear on your seller profile to logged in buyers.</p>
  <p>These documents help buyers interested in your business to understand it better, without having to ask you for more information. So make sure they are up to date.</p>
  <p>Each should be no larger than 5MB and in PDF, PNG or JPEG format. If you have multiple files for a document, please scan and merge as one upload.</p>
<% end %>

<%= render partial: 'sellers/applications/shared/step', locals: {
  form: form,
  form_path: documents_sellers_application_path(application),
  application: operation[:application_model],
  operation: operation,
  hide_header: true,
} %>
