<% content_for(:step_container_header) do %>
  <h1><%= t('sellers.applications.documents.title') %></h1>
  <%= t('sellers.applications.documents.aside_html') %>
<% end %>

<%= render partial: 'sellers/applications/shared/step', locals: {
  form: form,
  form_path: documents_sellers_application_path(application),
  application: operation[:application_model],
  operation: operation,
  hide_header: true,
} %>
