<div>
  <form id="subForm" role="form" class="js-cm-form" action="https://www.createsend.com/t/subscribeerror?description=" method="post" data-id="30FEA77E7D0A9B8D7616376B900632311B788B06EB882E2C87C28E7A7EEB482F02B927D8C05A6D3742AAD59F438A47EBC2C4EA8D2069226522293EC759B139AD">
    <p>
        <label for="fieldEmail">Your email</label><br />
        <input id="fieldEmail" class="js-cm-email-input form-control" name="cm-fiktjy-fiktjy" type="email" required />
    </p>
    <p>
        <label for="fieldName">Your name (optional)</label><br />
        <input id="fieldName" name="cm-name" class="form-control" type="text" />
    </p>
    <p>
        <label for="fieldyudkft">Your organisation (optional)</label><br />
        <input id="fieldyudkft" name="cm-f-yudkft" class="form-control" type="text" />
    </p>

    <fieldset class="multiple-choice-group radio-group" style="margin-bottom: 0">
      <legend>Are you a buyer or seller?</legend>
      <div class="form-group row" style="margin-left: 0;">
        <div class="form-check col-12">
          <input type="radio" name="cm-fo-yudkfi" id="cm-fo-yudkfi_buyer" required class="form-check-input" value="1080766">
          <label for="cm-fo-yudkfi_buyer">I'm a buyer</label>
        </div>
        <div class="form-check col-12">
          <input type="radio" name="cm-fo-yudkfi" id="cm-fo-yudkfi_seller" class="form-check-input" value="1080767">
          <label for="cm-fo-yudkfi_seller">I'm a seller</label>
        </div>
        <div class="form-check col-12">
          <input type="radio" name="cm-fo-yudkfi" id="cm-fo-yudkfi_interested" class="form-check-input" value="REPLACE ME">
          <label for="cm-fo-yudkfi_interested">I'm just interested</label>
        </div>
      </div>
    </fieldset>
    <p>
        <button class="js-cm-submit-button action" type="submit">Register for updates</button>
    </p>
  </form>
  <script type="text/javascript" src="https://js.createsend1.com/javascript/copypastesubscribeformlogic.js"></script>
</div>
