<% content_for :title, 'Accessibility statement' %>

<section class="view-static-content">
  <h1><%= content_for :title %></h1>

  <p>This statement relates to content available on this Department of Finance, Services and Innovation (DFSI) website <%= link_to 'buy.nsw.gov.au', root_path %>. If you have any questions or comments about this statement or the content on this site, please email us at <%= mail_to 'buy.nsw@finance.nsw.gov.au' %>.</p>

  <h2>Accessible web design</h2>

  <p>DFSI endorsed the World Wide Web Consortium's Web Content Accessibility Guidelines version 2.0 (WCAG 2.0).</p>

  <p>This website is currently undergoing a third-party assessment to ensure WCAG 2.0 AA.</p>

  <p>As part of the operation of <strong>buy.nsw</strong> buyers and sellers may link to documents or publications that may not adhere to the standards followed by the Department of Finance, Services and Innovation (DFSI). If you are having trouble accessing any <strong>buy.nsw</strong> pages or content within our website, please send an email, including the link to the page you are trying to access, to us at  <%= mail_to 'buy.nsw@finance.nsw.gov.au' %>.</p>

  <p>Last updated 5 June 2018.</p>
</section>
