<% content_for(:without_container, true) %>

<section class="views-cloud">

  <header role="banner">
    <div class="container">
      <h1>Buy cloud products and support</h1>

      <p>It's simple and easy to purchase cloud products and support for your NSW government organisation.</p>
    </div>
  </header>

  <section class="categories">
    <p>Some introductory text here about cloud services and why you would choose them, how the sellers here are qualified and you can buy the listed products quickly.</p>

    <p>Browse one of the three categories to see available offerings.</p>

    <ul class="category-list">
      <li>
        <h2><a href="">Applications and services</a></h2>
        <p>Find software applications which are accessed over the internet and hosted in the cloud.</p>
      </li>
      <li>
        <h2><a href="">Hosting and infrastructure</a></h2>
        <p>Find cloud hosting and infrastructure services to help you deploy, manage and run software.</p>
      </li>
      <li>
        <h2><a href="">Support services</a></h2>
        <p>Find cloud support services to help you set up and maintain your cloud software or hosting services.</p>
      </li>
    </ul>
  </div>

</section>
