<% content_for(:without_container, true) %>

<section class="view-cloud">

  <header role="banner">
    <div class="container">
      <h1>/cloud</h1>
      <h2>Explore and buy cloud software, hosting, infrastructure and support</h2>
    </div>
  </header>

  <section class="categories">
    <h2>What you can buy</h2>

    <ul class="category-list">
      <li>
        <div class="box">
          <h2>Applications and software</h2>
          <p> Cloud applications and software that you can access over the internet.</p>
          <%= link_to 'Find applications and software', pathway_search_path('applications-software'), class: 'action' %>
        </div>
      </li>
      <li>
        <div class="box">
          <h2>Hosting and infrastructure</h2>
          <p>Hosting and infrastructure services to help you deploy, manage and run software.</p>
          <%= link_to 'Find hosting and infrastructure', pathway_search_path('hosting-infrastructure'), class: 'action' %>
        </div>
      </li>
      <li>
        <div class="box">
          <h2>Setup and support services</h2>
          <p>Support to help you set up and maintain cloud software or hosting services.</p>
          <%= link_to 'Find cloud support services', pathway_search_path('support-services'), class: 'action' %>
        </div>
      </li>
    </ul>
  </section>

</section>
