<% content_for(:without_container, true) %>

<section class="view-cloud">

  <header role="banner">
    <div class="container">
      <h1>Buying cloud software, hosting and support made easy</h1>
    </div>
  </header>

  <section class="categories">
    <ul class="intro">
      <li>Browse approved cloud software, hosting and support services</li>
      <li>Shortlist and compare prices, features and specifications </li>
      <li>Buy online (with the option of using a virtual p-card)</li>
    </ul>
    
    <ul class="category-list">
      <li>
        <h2>Applications and software</h2>
        <p>Applications hosted in the cloud you can access over the internet.</p>
        <%= link_to 'Find applications and software', pathway_search_path('applications-software'), class: 'action' %>
      </li>
      <li>
        <h2>Hosting and infrastructure</h2>
        <p>Hosting and infrastructure services to help you deploy, manage and run software.</p>
        <%= link_to 'Find hosting and infrastructure', pathway_search_path('hosting-infrastructure'), class: 'action' %>
      </li>
      <li>
        <h2>Support services</h2>
        <p>Support services to help you set up and maintain your cloud software or hosting services.</p>
        <%= link_to 'Find cloud support services', pathway_search_path('support-services'), class: 'action' %>
      </li>
    </ul>

    <div class="seller-action">
      <div class="overview">
        <h2>Have cloud products and support to sell?</h2>
        <p><%= link_to "Apply now to become a registered seller", new_sellers_application_path %> to NSW government.</p>
      </div>
    </div>
  </section>

</section>
