<h1>Contact Us</h1>

<p>
  Whether you are a seller or a buyer you can contact us here
</p>

<p>
  Please email us at <%= mail_to "...@nsw.gov.au" %>
</p>

<p>
  <%= link_to "Return to the main page", root_path %>
</p>
