<% content_for :title, 'ICT Agreement Core Terms' %>

<section class="view-static-content">

  <h1><%= content_for :title %></h1>

  <%= render partial: 'sellers/applications/forms/shared/core_terms' %>

</section>
