<% content_for :title, 'GovDC on buy.nsw' %>

<section class="view-static-govdc">
  <h1>Buy GovDC data centre space and colocation services</h1>

  <p>GovDC data centres are efficient, reliable, secure and scalable facilities. They are purpose built for government use and located in Silverwater and Unanderra.</p>

  <ul class="link-list">
    <li>
      <%= mail_to 'GovDC@finance.nsw.gov.au', 'Enquire about GovDC space' %>
      Get in touch with the GovDC team to buy space or expand space already allocated
    </li>
    <li>
      <%= link_to 'Find GovDC sellers', sellers_search_path(govdc: "govdc") %>
      Search for cloud products and services available on GovDC’s managed services backbone
    </li>
    <li>
      <%= link_to 'Request onsite support', 'https://portal.identityhub.nsw.gov.au/PortalApp/' %>
      Log into the tenant portal to request onsite support from Metronode. If you don't have access, <%= mail_to 'GovDC@finance.nsw.gov.au', 'contact the team', class: 'inline-link' %>
    </li>
  </ul>
</section>
