<% content_for :body_classes, 'with-big-header' %>
<% content_for :without_container, true %>

<% content_for :extra_header_content do %>
  <div class="container main-title">
    <div class="row">
      <h1>The place to buy and sell in NSW Government</h1>
    </div>
  </div>
<% end %>

<section class="view-static-index">
  <div class="container">
    <div class="audiences">
      <div class="feature half-width">
        <div class="inner">
          <h1>Buyers</h1>
          <h2>Connect with approved sellers</h2>
          <p>You can buy products and services here if you're in NSW government or <a href="">another eligible organisation</a>.</p>
          <p><%= link_to 'Join as a buyer &gt;'.html_safe, registration_path('buyer'), class: 'btn btn-primary' %></p>
        </div>
      </div>

      <div class="feature half-width">
        <div class="inner">
          <h1>Sellers</h1>

          <h2>Supply to NSW government</h2>
          <p>Apply to now to offer your products or services to NSW Government through the Digital Marketplace.</p>
          <p><%= link_to 'Start your application &gt;'.html_safe, registration_path('seller'), class: 'btn btn-primary' %></p>
        </div>
      </div>

      <div class="feature full-width">
        <div class="inner">
          <h2>Buy cloud software, hosting and support</h2>
          <p>Browse and compare approved cloud applications, hosting, infrastructure and support &ndash; then purchase in a few simple steps.</p>
          <%= link_to 'Start now &gt;'.html_safe, cloud_path, class: 'btn btn-primary' %>
        </div>
      </div>

      <div class="feature full-width">
        <div class="inner">
          <h2>Find approved sellers</h2>
          <p>Search the seller catalogue by seller name, or by the service you need.</p>
          <%= render partial: 'inline_search_form' %>
        </div>
      </div>
    </div>
  </div>
</section>
