<p><%= link_to 'Apply as a seller', new_sellers_application_path, class: 'btn btn-primary' %></p>

<p><%= link_to 'Search available sellers', sellers_search_path, class: 'btn btn-primary' %></p>

<p><%= link_to 'Buy cloud software and support', cloud_path, class: 'btn btn-primary' %></p>
