<% content_for :title, 'Register for updates' %>

<section class="view-static-content">

  <h1><%= content_for :title %></h1>

  <p>Cloud not your thing? We’re expanding <strong>buy.nsw</strong> soon to offer more products and services. Share your details below and we’ll keep you up to date with our progress.</p>

  <%= render partial: 'mailing_list_signup_form' %>

</section>
