<% content_for :title, 'Join the mailing list' %>

<section class="view-static-content">

  <h1><%= content_for :title %></h1>

  <p>Some intro blurb to subscribe for updates.</p>

  <%= render partial: 'mailing_list_signup_form' %>

</section>
