<h1>Privacy statement</h1>

<p>This statement applies to the <strong>buy.nsw</strong> procurement platform located at <a href="https://buy.nsw.gov.au">buy.nsw.gov.au</a> managed by NSW Government Department of Finance, Services and Innovation (DFSI). It governs personal information gathered by the buy.nsw platform.</p>

<p>We respect and protect the privacy of our users and comply with the laws governing privacy in New South Wales and the Commonwealth of Australia, including associated rules, codes of practice and guidelines made under those laws.</p>

<h2>Personal information</h2>

<p>Personal information has the meaning given in Australian privacy laws, and includes any information from which a person’s identity can reasonably be identified.</p>

<p>The personal information we collect from buyers and sellers is limited to the contact details for their representatives. We use that contact information for communications relating to the operation of the <strong>buy.nsw</strong> platform.</p>

<p>
  For the normal operation of the <strong>buy.nsw</strong> platform:
  <ul>
    <li>seller representative information is shared with registered buyers</li>
    <li>buyer representative information is only shared with sellers after the buyer initiates procurement activity</li>
  </ul>
</p>

<p>
  Other than this we do not share personal information with anyone, including other government agencies, except:
  <ul>
    <li>where the owner of the personal information gives permission</li>
    <li>where authorised under this privacy statement or the terms of use</li>
    <li>where required or authorised by law</li>
  </ul>
</p>

<h2>Account information</h2>

<p>Where a buyer enters a commercial arrangement with a seller through <strong>buy.nsw</strong>, the buyer’s representative may need to provide personal information to create an account with the seller. Account information may include names, usernames, phone numbers, email addresses and billing information associated with a buyer.</p>

<p>Buyers who submit personal information as part of setting up an account must review the seller’s privacy and security policies governing that account information (including where the information is transferred, stored or processed). By submitting personal information as part of that account information, you consent to that personal information being managed in accordance with the seller’s terms.</p>

<h2>Feedback</h2>

<p>If you tell us your name, contact details or other information when giving feedback we keep this information so we can respond.</p>

<h2>Survey feedback</h2>

<p>DFSI may from time to time survey buyers and sellers about their experiences using <strong>buy.nsw</strong>. Unless otherwise noted in the introduction to the survey, all personal information through the survey will be stored securely and not disclosed publicly.</p>

<h2>Privacy complaints and requests</h2>

<p>
  At no cost you can:
  <ul>
    <li>request access to personal information we hold about you</li>
    <li>ask us to correct inaccurate or incomplete personal information</li>
    <li>make a complaint about our handling of your personal information</li>
  </ul>
</p>

<p>To protect your privacy we can only perform these activities if we have evidence of your identity.</p>

<p>
  If you have any questions you can <%= link_to 'contact us', contact_path %>.
</p>

<p>We aim to respond within 30 days. If your inquiry will take longer to resolve, we will provide you with a date by which we expect to respond.</p>

<h2>How we protect personal information</h2>

<p>This site is hosted in Australia in secure facilities. To help protect the privacy of data and personal information we collect and hold, we maintain appropriate physical, technical and administrative safeguards.</p>

<h2>Cookies</h2>

<p>Like many websites, this site uses 'cookies'. A cookie is a small text file our site may place on your computer as a tool to remember your preferences. You may refuse the use of cookies by selecting the appropriate settings on your browser. However if you do this, you may not be able to use the full functionality of this website.</p>

<p>Last updated 9 May 2018</p>
