<h1>Terms of use</h1>

<p>These terms govern the use of the buy.nsw platform and form a binding legal agreement between ‘us’ &mdash; NSW Government Department of Finance, Services and Innovation (DFSI) &mdash; and ‘you’ &mdash; a visitor or user of this site. By accessing <strong>buy.nsw</strong> you agree to be bound by these terms of use, whether or not you become a registered buyer or seller.</p>

<p>We may change these terms of use at any time. We will notify registered buyers and sellers of changes using the contact details you provide.</p>

<p>
  If you have any questions or feedback, please email us
  <%= mail_to 'buy.nsw.support@finance.nsw.gov.au' %>
</p>

<h2>Code of conduct</h2>

<p>Buyers and sellers must act ethically, reasonably, with integrity, and in accordance with applicable laws when using <strong>buy.nsw</strong>. Any violation of this code of conduct may result in the suspension or deletion of your account at the discretion of DFSI.</p>

<h3>Buyers</h3>

<p>The <strong>buy.nsw</strong> service is designed to make it easier to comply with NSW Government procurement policies but ultimately, as a buyer, you’re still responsible for compliance with all laws, regulations, policies or instructions that apply to you. You must consult with the relevant finance or procurement team in your organisation where appropriate.</p>

<p>As a registered buyer, after signing in you will have access to confidential information of sellers, including insurance certificates and financial information which is not publicly available. You must only use this confidential information for procurement on <strong>buy.nsw</strong>.</p>

<p>You agree to comply with the <a href="https://www.psc.nsw.gov.au/employmentportal/ethics-conduct/behaving-ethically/behaving-ethically-guide/section-2/the-code-of-ethics-and-conduct-for-nsw-government-sector-employees">Code of Ethics for NSW Government employees</a>, or the relevant code of conduct for your workplace, in all your activities relating to <strong>buy.nsw</strong>.</p>

<h3>Sellers</h3>

<p>All information you provide as a seller, whether in the <strong>buy.nsw</strong> registration process or to prospective buyers, must be complete, accurate and not misleading.</p>

<p>As <strong>buy.nsw</strong> is all about creating beneficial connections, your interactions must be businesslike and of a professional standard. Any content or links you upload to <strong>buy.nsw</strong>, as well as any correspondence with us or with any buyer, must be free from threats, harassment or profanity.</p>

<h2>Buyer registration</h2>

<p>To become a buyer on <strong>buy.nsw</strong> you must be a <a href="https://www.procurepoint.nsw.gov.au/before-you-buy/buyer-eligibility-and-registration">registered buyer of NSW Government contracts and other supply arrangements</a>.</p>

<p>
  Information we collect from buyer representatives:
  <ul>
    <li>full name and email address</li>
    <li>organisation name</li>
    <li>confirmation the person is authorised to represent that buyer</li>
  </ul>
</p>

<p>
  For government employees we also collect:
  <ul>
    <li>employment status, whether contractor or permanent</li>
    <li>and for contractors we need contact details of a permanent employee to authorise use of <strong>buy.nsw</strong></li>
  </ul>
</p>

<p>DFSI may contact buyers using the contact details provided. These details are not shared with sellers, except through procurement initiated by buyers.</p>

<h2>Seller registration</h2>

<p>To become a seller on <strong>buy.nsw</strong> you need to have an Australian Business Number (ABN) and agree to these terms of use. You must also apply to join <strong>buy.nsw</strong> or be invited to join from an existing NSW Government scheme.</p>

<p>
  Information we collect from sellers and may publish to all site visitors:
  <ul>
    <li>business name</li>
    <li>product or service summary information</li>
    <li>self-identified tags, for example SME, female-owned business, start-up</li>
    <li>address and contact details</li>
    <li>general information about the seller’s business</li>
    <li>accreditations, industry engagement information and awards</li>
    <li>products, services, pricing and case studies</li>
    <li>insurance documents</li>
  </ul>
</p>

<p>
  We may also collect additional information for assessment and research purposes including:
  <ul>
    <li>whether the seller has worked with government before</li>
    <li>disclosures</li>
    <li>financial statements</li>
    <li>references to verify case studies</li>
  </ul>
</p>

<p>Information collected for assessment and research purposes will not be published on <strong>buy.nsw</strong>.</p>

<h2>Licence and use</h2>

<p>By using <strong>buy.nsw</strong> buyers and sellers licence DFSI to use and reproduce all information that we gather for the purposes of <strong>buy.nsw</strong>, which may include analysis, dashboards, promotion and reporting on transactions between buyers and sellers.</p>

<p>Buyers and sellers authorise DFSI to obtain and publish high-level reporting relating to consolidated transactions and associated spend.</p>

<p>We do not accept liability for any loss occurring in connection with the use or operation of <strong>buy.nsw</strong>.</p>

<h2>Security</h2>

<p>We maintain appropriate physical, technical and administrative security to help prevent the loss, misuse, unauthorised access, disclosure or modification of data on <strong>buy.nsw</strong>.</p>

<p>While we take these steps to protect your information as much as we reasonably can, no system or transmission of data over the internet or any other public network, or any storage of data, can be guaranteed to be 100% secure.</p>

<p>We don’t accept liability for any unauthorised access, use or loss of data, or any other loss occurring in connection with the use or operation of <strong>buy.nsw</strong>.</p>

<h2>Notifications</h2>

<p>If you register as a buyer or seller with <strong>buy.nsw</strong> you may be contacted by email or other means.</p>

<p>Email notifications are the primary form of contact and <strong>buy.nsw</strong> staff will use the email address you provide during registration to contact you.</p>

<h2>Termination</h2>

<p>DFSI may terminate your access to <strong>buy.nsw</strong> at any time for any reason, without liability for any loss. Upon termination all rights granted to you in these terms of use will cease.</p>

<h2>Analytics</h2>

<p>The <strong>buy.nsw</strong> platform uses a range of analytics services which may send data to servers offshore. These services do not identify individual users or associate your IP address with any other data held by the company for other purposes. We use reports provided by analytics providers to help us understand how our platform is used.</p>

<p>By using the <strong>buy.nsw</strong> platform, you consent to the processing of data about your activities on the <strong>buy.nsw</strong> platform.</p>

<h2>Disclaimer</h2>

<p>The <strong>buy.nsw</strong> platform is made up of content published by DFSI as well as by buyers and sellers. DFSI does not guarantee any material on <strong>buy.nsw</strong> is true and correct at the date of publication or afterwards.</p>

<p>DFSI does not necessarily endorse published material or any views expressed in the material.</p>

<p>To the maximum extent permitted by law, DFSI disclaims all and any guarantees, undertakings and warranties, express or implied, and will not be liable for any loss or damage arising out of, or in connection with, any use of or reliance on the material on the the </strong>buy.nsw</strong> platform.</p>

<p>Inquiries regarding the licence or any use of <strong>buy.nsw</strong> materials should be directed to: <%= mail_to 'buy.nsw.support@finance.nsw.gov.au' %>.</p>

<h2>Links</h2>

<p>You can link from other sites directly to pages on this site without asking permission. However, pages must be displayed in the user‘s entire browser window. We do not permit our pages to be loaded into frames of another site.</p>

<p>We are not responsible for the content or reliability of the websites we link to and do not necessarily endorse the views expressed within them.</p>

<h2>Jurisdiction</h2>

<p>These terms of use are governed by the laws of New South Wales, Australia. Any dispute must be heard in the courts of New South Wales.</p>

<p>If a New South Wales court finds any of these terms of use invalid, unenforceable or illegal for any reason, the remaining terms of use will continue to apply in full.</p>

<p>Last updated 28 May 2018</p>
