<% content_for(:skip_user_links, true) %>
<h1>Too many requests</h1>

<p>
  Too many requests were made by you to <strong>buy.nsw</strong> in a short period of time. Please wait
  a little while and try again.
</p>

<p>Return to the <a href="/" title="buy.nsw homepage"><strong>buy.nsw</strong> homepage</a>.</p>
