<% if product.display_additional_terms? %>
  <ul class="documents">
    <li>
      <span aria-hidden="true"></span>
      <%= link_to 'Additional terms', product.terms.document.url, target: 'blank' %>
      (<%= product.terms.extension %>, <%= number_to_human_size(product.terms.size) %>)
    </li>
  </ul>
<% end %>
