<p>All you need to do now is:</p>

<ol>
  <li>Review your application and the Core Terms</li>
  <li>Complete the declaration</li>
</ol>

<%= link_to 'Download Core Terms (PDF 229KB)', '' %>

<section class="agreement-text">
  <h1>ICT Agreement Core Terms</h1>
  <h4>1. Role of the Core Terms</h4>
  <p>Each agreement between us (the buyer) and you (the supplier) consists of:</p>
  <ol>
    <li>these core terms</li>
    <li>the relevant solution requirements</li>
    <li>any documents attached to those solution requirements</li>
  </ol>

  <p>The core terms are first in the list, and take priority over all other documents. They govern performance of the agreement, including how the solution described in the solution requirements will be supplied.</p>
  <p>Any terms contained in other parts of the agreement that conflict with, or limit the operation of, these core terms have no legal effect.</p>
</section>

<% if presenter.ready_for_submission? %>
  <%= f.check_box :agree,
        label: t('activemodel.attributes.sellers/applications/declaration_form.agree_html',
          name: f.object.seller.representative_name,
          organisation: f.object.seller.name,
          abn: f.object.seller.abn) %>
<% else %>
  <p>Please complete all other steps before submitting your application.</p>
<% end %>
