<p>To become a registered seller and offer your services or products to government you need to tell us about your business.</p>

<p>The information you share will be used to create your seller profile. The information will also be used to confirm you meet the assessment criteria for sellers to government.</p>

<p>It may take more than one visit to complete this application. But do not worry, your information will be saved automatically if you need to come back later.</p>

<h3>You will need</h3>

<ul>
  <li>Your basic business information</li>
  <li>Recent financial records or a viability statement from your accountant</li>
  <li>Details of your insurance cover</li>
</ul>

<h3>You will be asked to</h3>

<ul>
  <li>Share details about services or products you offer</li>
  <li>Provide detail about your offering that will support your application</li>
  <li>Accept the Core Terms</li>
</ul>
