<p>To become a registered seller and offer your services or software products to government you need to tell us about your business.</p>

<p>By completing this application you are automatically responding to an open approach to market, whose terms and conditions, like other government tenders, are publicly available.</p>

<p>The information you share will be used to create your seller profile. If you offer services it will also be used to confirm you meet the assessment criteria when you express interest in opportunities.</p>

<p>It may take more than one visit to complete this application. But do not worry, your information will be saved automatically if you need to come back later.</p>

<h3>You will need</h3>

<ul>
  <li>Your basic business information</li>
  <li>Recent financial records or a viability statement from your accountant</li>
  <li>Proof of relevant insurance cover</li>
</ul>

<h3>You will be asked to</h3>

<ul>
  <li>Share details about services or products you wish to provide</li>
  <li>Provide case studies and referees to support your application</li>
  <li>Accept the Digital Marketplace Master Agreement</li>
</ul>
