<% content_for(:without_container, true) %>

<% content_for(:content) do %>
  <% if application.seller.name.present? %>
    <header class="application-header">
      <div class="container">
        <h1>
          <span class="type-label">Seller application<span class="visually-hidden">:</span></span>
          <%= application.seller.name %>
        </h1>
      </div>
    </header>
  <% end %>

  <div class="container">
    <section class="view-sellers-applications">
      <div class="steps-list">
        <%= render partial: 'sellers/applications/step_list', locals: { operation: operation } %>
      </div>
      <div class="current-step">
        <%= content_for?(:content) ? yield(:content) : yield %>
      </div>
    </section>
  </div>
<% end %>

<%= render template: 'layouts/application' %>
