<p>Enhance your profile and give buyers more ways to find you when searching</p>

<%= f.text_area :tools, rows: 7 %>
<%= f.text_area :methodologies, rows: 7 %>
<%= f.text_area :technologies, rows: 7 %>
