.view-sellers-applications.application-dashboard {
  @include two-thirds;

  h2.product-name {
    font-weight: normal;
    color: #6F777B;
  }

  .list-container {
    padding-top: 1rem;
  }

  .team-action {
    margin: 1rem 0 2.5rem 3rem;
    font-size: 1.1rem;
  }

  ol.task-list {
    padding-left: 0;
    padding-bottom: 3rem;
    list-style: none;

    > li {
      font-size: 1.6rem;
      font-weight: bold;
      margin-bottom: 3rem;

      h2 {
        .step-number {
          display: inline-block;
          width: 2.6rem;
        }

        font-size: 1.6rem;
        font-weight: bold;
      }
    }

    ul {
      padding-left: 3rem;
      font-size: 1.1rem;
      font-weight: normal;

      li {
        list-style: none;
        padding: .6rem 0;

        border-bottom: 1px solid $grey-3;

        &:first-of-type {
          border-top: 1px solid $grey-3;
        }

        .completed {
          display: inline-block;
          float: right;
          padding: 0.3rem 0.4rem;

          background: $dark-blue;
          color: #fff;

          text-transform: uppercase;
          font-size: 0.95rem;
          line-height: 1.1rem;
          font-weight: 600;
        }
      }
    }
  }

  .delete-action {
    @extend .btn;
    @extend .btn-danger;
  }
}
