.view-sellers-applications.application-dashboard {
  @include two-thirds;

  h2.product-name {
    font-weight: normal;
    color: #6F777B;
  }

  .list-container {
    padding-top: 1rem;
  }

  .team-action {
    margin: 1em 0 2.5em 3em;
    font-size: .85rem;

    @include media-breakpoint-up(md) {
      font-size: 1.1rem;
    }
  }

  ol.task-list {
    padding-left: 0;
    padding-bottom: 3rem;
    list-style: none;
    font-size: .85rem;

    @include media-breakpoint-up(md) {
      font-size: 1.1rem;
    }

    > li {
      font-size: 1em;
      font-weight: bold;
      margin-bottom: 3em;

      h2 {
        .step-number {
          display: inline-block;
          width: 1.75em;
        }

        font-size: 1.6em;
        font-weight: bold;
      }
    }

    ul {
      padding-left: 3em;
      font-weight: normal;

      li {
        list-style: none;
        padding: .6em 0;
        overflow: auto;

        border-bottom: 1px solid $grey-3;

        &:first-of-type {
          border-top: 1px solid $grey-3;
        }

        .completed {
          display: inline-block;
          float: right;
          padding: 0.3em 0.4em;

          background: $dark-blue;
          color: #fff;

          text-transform: uppercase;
          font-size: 0.95em;
          line-height: 1.1em;
          font-weight: 600;
        }
      }
    }
  }

  .delete-action {
    @extend .btn;
    @extend .btn-danger;
  }
}
