.view-sellers-applications {

  .current-document {
    margin: 2rem 0;
    padding: 0.5rem 1rem;

    border-left: .5rem solid #ccc;

    h3 {
      font-size: 1.2rem;
    }

    .icon {
      @extend .oi;
      @extend .oi-document;

      padding: .2rem .2rem 0 0;
      vertical-align: top;
    }

    .uploaded-file {
      display: inline-block;

      .file-name, .scan-status {
        display: block;
      }

      .file-name {
        font-weight: 600;
      }

      .download-action {
        display: inline-block;

        a {
          @include button-primary;

          font-size: .9rem;
          margin-top: .4rem;
        }
      }

      .remove-file-action {
        padding-top: 1rem;
      }

      .remove-file-action.js-enabled {
        display: inline-block;
        padding-top: 0;

        .form-check {
          padding-bottom: 0;
        }

        button {
          @include button-danger;

          font-size: .9rem;
          margin-top: .4rem;
        }
      }
    }

    .form-group {
      margin: 1.5rem 0 0;
    }
  }

}
