.view-sellers-applications.flow-non-linear {
  .steps-container {
    @extend .row;
    margin-left: 0;
    margin-top: 2rem;
    border-top: 1px solid #ccc;
  }

  .steps-list {
    @extend .col-md-3;
    padding-right: 0;
    padding-left: 0;
  }

  .steps-list ol {
    padding-left: 0;
  }
  .steps-list li {
    list-style: none;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    position: relative;
    left: 1px;
    z-index: 1;

    &.current {
      border-right-color: #fff;
      border-bottom-width: 2px;
    }
  }

  .steps-list li a {
    display: block;
    padding: .6em .6em .6em 2.6em;
    color: #000;
    text-decoration: none;
    background: #fafafa;
    margin-left: -1px;

    &:hover {
      background: darken(#f6f6f6, 5%);
    }
  }
  .steps-list li.current a {
    background: #fff;
    border-left: 2px solid #ccc;
    font-weight: 700;
  }

  .steps-list li a::before {
    content: ' ';
    display: inline-block;
    position: absolute;
    height: 1.5em;
    width: 1.5em;
    top: 9px;
    left: 9px;
    background: $grey-2;
    border-radius: 50%;
    margin-right: 0.75rem;
    text-align: center;
    vertical-align: top;
    line-height: 1em;
  }
  .steps-list li.started {
    a::before {
      background: $light-blue;
      content: '...';
      font-weight: bold;
      color: #fff;
    }
  }
  .steps-list li.complete a::before {
    background: $green;
  }
  .steps-list li.complete a::after {
    content: '';
    border: solid;
    border-width: 0 0 3px 3px;
    background: transparent;
    border-top-color: transparent;
    width: 13px;
    height: 7px;
    position: absolute;
    top: 17px;
    left: 16px;
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    color: #fff;
  }

  .current-step {
    @extend .col-md-9;
    border-left: 1px solid #ccc;

    padding-left: 2.5rem;
    padding-top: 2rem;

    fieldset:first-of-type {
      margin-top: 0;
    }
  }
}
