.view-sellers-applications.invitations {
  @include two-thirds;

  ul.current-team {
    margin-top: 2rem;
    padding-left: 0;

    h2 {
      font-size: 1.4rem;
    }

    li {
      padding-top: .75rem;
      padding-bottom: .75rem;
      list-style: none;

      border-bottom: 1px solid $grey-3;

      &:first-of-type {
        border-top: 1px solid $grey-3;
      }
    }
  }

  .invite-action a {
    @include button;
    
    font-size: 1.2rem;
    margin-bottom: 2.5rem;
  }

  form {
    margin-top: 3rem;
  }
}

.view-sellers-applications .accept-invitation {
  padding-top: 2rem;

  @include two-thirds;
}
