.view-sellers-applications.products-list {
  @include two-thirds;

  ul.products {
    padding-left: 0;

    li {
      @include make-row();

      margin-left: 0;
      margin-right: 0;

      list-style: none;
      padding-top: .75rem;
      padding-bottom: .75rem;

      border-bottom: 1px solid $grey-3;

      &:first-of-type {
        border-top: 1px solid $grey-3;
      }

      .details, .actions {
        padding-right: 0;
        padding-left: 0;
      }
    }

    .details {
      @include make-col-ready();
      @include media-breakpoint-up(md) {
        @include make-col(8);
      }

      h2 {
        font-size: 1.2rem;
        margin-bottom: 0.3rem;
      }
      p {
        margin-bottom: 0;
      }
    }
    .actions {
      @include make-col-ready();
      @include media-breakpoint-up(md) {
        @include make-col(4);
      }

      text-align: right;

      .action {
        @extend .btn;
        @extend .btn-primary;

        font-size: 1rem;
      }
    }
  }

  .product-add {
    padding: .5rem 0;
    a {
      @extend .btn;
      @extend .btn-primary;
      font-size: 1rem;

      span {
        @extend .oi;
        @extend .oi-plus;
      }
    }
  }

  .with-enterprise-field .form-group {
    padding-bottom: 1rem;
    border-bottom: 1px solid $grey-2;
  }
}

.view-sellers-applications.product-dashboard {
  width: auto;

  ol.task-list {
    width: 90%;
  }

  .list-container {
    @include make-row();
  }

  .product-actions {
    background: $light-purple;
    padding: 1rem;

    .delete-action {
      @extend .btn;
      @extend .btn-danger;

      font-size: 1rem;
    }
  }
}
