.view-sellers-applications {
  .detail-review dl {
    @extend .row;

    padding-top: .5rem;
    padding-bottom: 1rem;

    dt, dd {
      border-bottom: 1px solid $grey-1;
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
      margin-bottom: 0;
    }

    dt {
      @extend .col-4;
    }

    dd {
      @extend .col-8;
    }
  }

  .detail-review h3 {
    font-size: 1.4rem;
  }
}
