.view-sellers-applications.application-step {
  @include two-thirds;

  form {
    margin-top: 2.5rem;
  }

  form > fieldset:first-of-type {
    margin-top: 3rem;
  }

  fieldset .skip-link {
    padding-top: 2rem;
  }

  .return-link {
    margin: 2rem 0 3rem;
  }
}
