<p>This information appears on your seller profile.</p>

<div data-module="max-word-count" data-max-word-count="50">
  <%= f.input :summary, as: :text, input_html: { rows: 5 } %>
</div>

<%= f.input :website_url %>
<%= f.input :linkedin_url %>
