$icon-font-path: 'open-iconic/font/fonts/';

@import 'open-iconic/font/css/open-iconic-bootstrap.scss';

@font-face {
  font-family: 'Icons';
  src: font-url('#{$icon-font-path}open-iconic.eot');
  src: font-url('#{$icon-font-path}open-iconic.eot?#iconic-sm') format('embedded-opentype'), font-url('#{$icon-font-path}open-iconic.woff') format('woff'), font-url('#{$icon-font-path}open-iconic.ttf') format('truetype'), font-url('#{$icon-font-path}open-iconic.svg#iconic-sm') format('svg');
  font-weight: normal;
  font-style: normal;
}
