// Colours

$dark-blue: #002665;
$light-blue: #0059a4;
$light-purple: #ebf0f4;
$black: #000;
$green: #57a31a;
$red: #d7153a;
$white: #fff;

$grey-1: #f2f2f2;
$grey-2: #dcdddf;
$grey-2a: #eeeeee;
$grey-3: #4f4f4f;
