// Colours

$dark-blue: #002665;
$light-blue: #0059a4;
$light-purple: #ebf0f4;
$black: #000;
$green: #57a31a;
$red: darken(#d7153a, 5%);
$white: #fff;

$grey-1: #f2f2f2;
$grey-2: #dcdddf;
$grey-2a: #eeeeee;
$grey-3: #bfc1c3;
$grey-4: #4f4f4f;

$focus-colour: #FFBF47;
