<h1>What happens next</h1>

<p>
  We will be in touch soon to guide you
  personally through the order process.
</p>

<p>You will also receive a confirmation email.</p>

<p>
  <%= link_to root_path do %>
    Return to <strong>buy.nsw</strong>
  <% end %>.
</p>
