<p>There's only one step left to create your <strong>buy.nsw</strong> account.</p>

<p>Click the button below to confirm your email address.</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token), class: 'button' %></p>

<p>You must confirm your account within 3 days.</p>
