@mixin app-column {
  height: 100vh;
  overflow-y: scroll;
  margin-bottom: 0;
}

@mixin app-column-fixed {
  @include app-column;
  width: 17vw;
  min-width: 200px;
}

@mixin app-column-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0;
  margin: 0;
}
