@mixin logo {
  font-size: 21px;
  padding-top: 20px;

  span {
    display: inline-block;
    vertical-align: top;
  }
  span.logo {
    background: asset-data-url('nsw-logo.svg') no-repeat;
    background-size: 3.5rem;
    text-indent: -9999px;
    border-right: 1px solid $dark-blue;

    height: 4rem;
    width: 4.25rem;
  }
  span.marketplace-title {
    margin-top: 34px;
    margin-left: .5rem;
  }

  a {
    text-decoration: none;
    color: #000;
  }
}
