@mixin logo {
  font-size: 1.6rem;

  span {
    display: inline-block;
    vertical-align: top;
  }

  .logo-container {
    background: #fff;
    padding-top: .7rem;
    padding-left: .5rem;
    height: 100px;

    width: 5.5rem;
    display: inline-block;
  }
  img.logo {
    width: 4.5rem;
  }
  span.logo {
    background: asset-data-url('nsw-logo.png') no-repeat 0px 0px / cover;
    text-indent: -9999px;

    height: 5rem;
    width: 4.5rem;
  }
  span.site-title {
    margin-top: 3.2rem;
    margin-left: 1.5rem;
    font-weight: 600;
  }

  a {
    text-decoration: none;
    color: #fff;
  }
}
