*[data-module='password-strength'] {
  overflow: auto;

  .strength-o-meter {
    @include media-breakpoint-up(md) {
      float: right;
      padding-left: 1rem;
    }

    width: 16rem;
    padding: 1rem 0 .5rem 0;

    &::before {
      content: ' ';
      display: block;
      width: 100%;
      height: .5rem;
      margin-bottom: .25rem;
      background: #eee;

      border-left: 0rem solid transparent;
      transition: all 0.5s ease-in-out;
    }

    &.score-0::before {
      border-left: 3rem solid $red;
    }
    &.score-1::before {
      border-left: 6rem solid #F47738;
    }
    &.score-2::before {
      border-left: 9rem solid #FFBF47;
    }
    &.score-3::before {
      border-left: 12rem solid #85994B;
    }
    &.score-4::before {
      border-left: 15rem solid #006435;
    }

    span {
      font-size: .9rem;
      text-align: left;
    }
  }

}
