@mixin profile {
  .intro {
    @extend .row;
    padding: 1.5em 0 0.5em;

    .summary {
      @extend .col-md-9;
      padding-right: 3em;
    }
    .actions {
      @extend .col-md-3;
      text-align: right;

      a {
        @extend .btn;
        @extend .btn-block;
      }
    }
  }

  .profile-container {
    @extend .row;
    padding-top: 1em;
  }
  .contents-container {
    @extend .col-md-4;
  }
  .contents {
    @extend .sticky-top;
    font-size: 0.8rem;
    padding-top: 1em;

    h3 {
      font-size: 1.2em;
    }
    ol {
      padding-left: 1em;

      li {
        padding-bottom: 0.2em;
      }
      a {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .profile {
    @extend .col-md-8;
  }

  dl {
    @extend .row;
    margin-bottom: 3em;
    border-bottom: 1px solid #eee;

    h2 {
      @extend .col-md-12;
    }

    dt, dd {
      border-top: 1px solid #eee;
      padding-top: 0.7em;
      padding-bottom: 0.7em;
      margin-bottom: 0;
    }

    dt {
      @extend .col-md-4;
      font-weight: 500;
    }
    dd {
      @extend .col-md-8;

      p:last-of-type {
        margin-bottom: 0;
      }
    }

    dd dl.nested {
      border-bottom: 0;
      font-size: 1rem;

      &:first-of-type:not(:first-child) {
        padding-top: 1rem;
        margin-top: 1em;
      }
      &:first-child {
        dt:first-of-type, dd:first-of-type {
          border-top: none;
          padding-top: 0;
        }
      }

      &:last-of-type {
        margin-bottom: 0;

        dt:last-of-type, dd:last-of-type {
          padding-bottom: 0;
        }
      }

      h3 {
        @extend .col-md-12;
        font-size: 1rem;
      }
      dt, dd {
        padding-top: .6em;
        padding-bottom: .3em;
      }
      dt {
        @extend .col-md-5;
      }
      dd {
        @extend .col-md-7;
      }
    }
  }

  .other-text {
    padding-top: 1rem;
  }

  h2 {
    font-size: 1.6rem;
    margin: 0 0 0.5em;
    font-weight: 600;
  }

  ul {
    padding-left: 1em;
    margin-bottom: 0;
  }
}
