@mixin profile {
  .intro {
    @extend .row;
    padding: 1.5em 0 0.5em;

    .summary {
      @extend .col-md-9;
      padding-right: 3em;
    }
    .actions {
      @extend .col-md-3;
      text-align: right;

      a {
        @extend .btn;
        @extend .btn-block;
      }
    }
  }

  .profile-container {
    @extend .row;
    padding-top: 1em;
  }
  .contents-container {
    @extend .col-md-4;
  }
  .contents {
    @extend .sticky-top;
    font-size: 0.8rem;
    padding-top: 1em;

    h3 {
      font-size: 1.2em;
    }
    ol {
      padding-left: 1em;

      li {
        padding-bottom: 0.2em;
      }
      a {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .profile {
    @extend .col-md-8;
  }

  dl {
    @extend .row;
    margin-bottom: 3em;
    border-bottom: 1px solid $grey-2;

    h2 {
      @extend .col-md-12;
    }

    dt, dd {
      border-top: 1px solid $grey-2;
      padding-top: 0.8em;
      padding-bottom: 0.5em;
    }

    dt {
      @extend .col-md-4;
      font-weight: 500;
    }
    dd {
      @extend .col-md-8;
    }

    &:first-of-type {
      margin-top: 1em;
    }
  }

  h2 {
    font-size: 1.6rem;
    margin: 0 0 0.5em;
    font-weight: 600;
  }

  ul {
    padding-left: 1em;
    margin-bottom: 0;
  }
}
