.section-header {
  padding: 1em;
  background: $grey-1;
  border-bottom: 1px solid $grey-2;

  h1 {
    @include make-col-ready();
    @include make-col(6);

    font-size: 1.4rem;
    margin-bottom: 0;

    .type-label {
      font-size: 0.9rem;
      color: #555;
      display: block;
      font-weight: normal;
    }
  }

  .action {
    @include make-col-ready();
    @include make-col(6);
    
    text-align: right;
    padding-top: .3rem;

    a {
      @extend .btn;
      @extend .btn-primary;
      font-size: .9rem;

      span {
        @extend .oi;
        @extend .oi-arrow-thick-top;
        padding-left: .25rem;
      }
    }
  }
}
