@mixin tags {

  ul.tags {
    padding-left: 0;
    margin-bottom: 0.5em;

    li {
      display: inline-block;
      background: $light-blue;
      color: #fff;
      font-size: .75rem;
      padding: .4em .6em;
      border-radius: 2px;
    }
  }

}
