<p>These documents help buyers interested in your business to understand it better, without having to ask you for more information. So make sure they're up to date.</p>
<p>Your corporate documents will be available to interested buyers on request.</p>

<p><%= t('instruction', scope: [:sellers, :applications, :steps, step.key]) %></p>

<fieldset class="file-upload">
  <%= render partial: 'sellers/applications/forms/shared/file_upload', locals: { f: f, field: field } %>
</fieldset>

<%= f.input "#{field}_expiry", as: :text_field_date, wrapper: :text_field_date %>
