<fieldset class="multiple-choice-group radio-group"
            id="field-<%= field.to_s.dasherize %>"
            data-module="further-details-fields"
            data-further-details-values="true">

  <%= f.input field, as: :radio_buttons,
                     input_html: { data: { further_details: 'input' } },
                     wrapper: false %>

  <div class="additional-fields" data-further-details="fields">
    <%= f.input "#{field.to_s}_details", as: :text, input_html: { rows: 5 } %>
  </div>
</fieldset>
