.view-sellers-applications {
  margin-top: 2rem;
  margin-bottom: 2rem;

  .agreement-text {
    display: block;
    border: 2px solid $grey-2;
    font-family: $font-family-sans-serif;
    padding: 1rem;
    margin: 1.5rem auto;
    height: 20rem;
    overflow: scroll;

    h1, h2, h3, h4, p {
      margin: 0 0 0.5em;
    }
  }

  .alert-box {
    border: 1px solid $grey-2;
    border-left: .8rem solid $red;
    padding: 1rem;
    margin: 1rem 0;

    p:last-of-type {
      margin-bottom: 0;
    }

    h3 {
      font-size: 1.2rem;
    }
  }
}
