.view-sellers-applications {
  margin-top: 0;
  margin-bottom: 2rem;

  > h1 {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .agreement-text {
    display: block;
    border: 2px solid $grey-4;
    font-family: $font-family-sans-serif;
    padding: 1rem;
    line-height: 1.6em;
    height: 40rem;
    font-size: 0.9rem;
    overflow-y: scroll;
  }

  .alert-box {
    border: 1px solid $grey-2;
    border-left: .8rem solid $red;
    padding: 1rem;
    margin: 1rem 0;

    p:last-of-type {
      margin-bottom: 0;
    }

    h3 {
      font-size: 1.2rem;
    }
  }

  .change-action {
    margin-top: 3rem;
  }
}
