.view-sellers-applications {
  margin-top: 2rem;
  margin-bottom: 2rem;

  .current-document {
    margin-bottom: 2.5rem;
    border-left: 10px solid $grey-2;
    padding: 0.5rem 1rem;
    font-weight: 600;
  }

  .agreement-text {
    display: block;
    border: 2px solid $grey-2;
    font-family: $font-family-sans-serif;
    padding: 1rem;
    margin: 1.5rem auto;
    height: 20rem;
    overflow: scroll;

    h1, h2, h3, h4, p {
      margin: 0 0 0.5em;
    }
  }
}
