.view-sellers-dashboard {
  margin-top: 2rem;

  .current-application {
    background: $light-blue;
    color: $white;

    a {
      color: $white;
    }

    padding: 1rem;
    text-align: center;
    margin-bottom: 2rem;

    .under-review-icon {
      @extend .oi;
      @extend .oi-check;
      display: block;
      font-size: 5rem;
      margin: 1rem 0;
      color: #fff;
      text-shadow: darken($light-blue, 5%) 0px 2px 2px;
    }

    h2 {
      font-size: 1.2rem;
      margin: 1rem 0;
    }

    p {
      margin: 0.5rem 0;
    }
  }

  .seller-status {
    margin-bottom: 1rem;
    color: $green;
    font-weight: 600;

    .active-icon {
      @extend .oi;
      @extend .oi-check;
      margin-right: 0.5rem;
    }
  }

  .account-actions {
    @extend .row;
    @extend .no-gutters;

    border-top: 1px solid $grey-2;
    padding-top: 1.5rem;

    h2 {
      @extend .col-md-3;
      font-size: 1.3rem;
      padding-left: 0;
    }
    ul {
      @extend .col-md-9;
      padding-right: 0;
    }
    li {
      list-style: none;
    }
  }
}
