.view-sellers-profiles {
  @include profile;

  ul.tags {
    padding-left: 0;
    margin-bottom: 0.5em;

    li {
      display: inline-block;
      background: $light-blue;
      color: #fff;
      font-size: 0.85rem;
      padding: 0.3em 0.65em;
    }
  }

  ul.addresses {
    padding-left: 0;

    li {
      list-style: none;
      padding-bottom: 1em;

      &:last-of-type {
        padding-bottom: 0;
      }
    }
  }
}
