.view-sellers-profiles {
  @include profile;
  @include tags;

  ul.addresses {
    padding-left: 0;

    li {
      list-style: none;
      padding-bottom: 1em;

      &:last-of-type {
        padding-bottom: 0;
      }
    }
  }
}
