<li id="products" class="card pathway-card">
  <div class="row">
    <div class="overview">
      <h2><%= t("sellers.applications.products.title") %></h2>
    </div>

    <div class="products-list">
      <ul>
        <%= render partial: 'product_row', collection: application.seller.products, as: :product %>
      </ul>
    </div>

    <div class="actions">
      <%= link_to t("sellers.applications.products.new_product_action_label"), new_sellers_application_product_path(application), class: 'action' %>
    </div>
  </div>
</li>
