<li id="products" class="card">
  <div class="row">
    <div class="overview">
      <h2><%= t("sellers.applications.products.title") %></h2>
    </div>

    <div class="guidance">
      <%= t("sellers.applications.products.guidance_html", default: '') %>
    </div>

    <div class="actions">
      <%= link_to t("sellers.applications.products.manage_products_action_label"), sellers_application_products_path(application), class: 'action' %>
    </div>
  </div>
</li>
