<li class="card submit">
  <p>Your application is complete. When you are ready, you can submit it for review.</p>
  <%= button_to 'Submit application for review', submit_sellers_application_path(application) %>
</li>
