<h1><%= t('sellers.applications.introduction.title') %></h1>

<%= t('sellers.applications.introduction.body_html') %>

<fieldset class="actions">
  <%= button_to t('sellers.applications.introduction.button_label'), sellers_applications_path, method: :post, class: 'btn btn-primary' %>
</fieldset>
