<% content_for(:seller_application_class, 'application-dashboard') %>

<h1>Your seller application</h1>

<p>Some introductory text to the seller application here, and what you need to
  complete as a seller.</p>

<div class="list-container">
  <p class="team-action">
    <%= link_to 'Invite your team members', sellers_application_invitations_path(application) %>
  </p>

  <%= render partial: 'task_list',
             locals: {
               task_list: presenter.task_list,
               resources: {
                 application: application,
               }
             } %>
</div>
