<% content_for(:seller_application_class, 'submit-application') %>

<h1>Submit your application</h1>

<% if operation.success? %>
  <p>You application is now 100% complete, so if you’re satisfied with your responses you can now send your application in for review.</p>
  <p>If you’re approved to join buy.nsw the information you’ve provided will create your seller profile page, which you can then update over time.</p>

  <%= buy_nsw_form_for :submit, url: '', method: 'post' do |f| %>
    <%= f.submit 'Submit application', name: '' %>
    <%= f.hidden_field :complete, value: '1', name: 'complete' %>
  <% end %>
<% else %>
  <p>You need to complete all other steps before you can submit your application.</p>

  <%= link_to 'Return to your application', sellers_application_path(application), class: 'btn btn-primary' %>
<% end %>
