<!doctype html>
<html>
  <head>
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>
  <body class="mailer">
    <header>
      <h1>
        <span class="logo">NSW Government</span>
        <span class="marketplace-title">Digital<br> Marketplace</span>
      </h1>
    </header>

    <%= yield %>
  </body>
</html>
