<!doctype html>
<html>
  <head>
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>
  <body class="mailer">
    <header>
      <h1>
        <div class="logo-container">
          <%= image_tag attachments['nsw-logo-80x85.png'].url, class: 'logo' %>
        </div>
        <span class="site-title">buy.nsw</span>
      </h1>
    </header>

    <%= yield %>
  </body>
</html>
