<p>Hi <%= @waiting_seller.contact_name %>,</p>

<p><%= @waiting_seller.name %> is invited to onboard to <strong>buy.nsw</strong>.</p>

<p>Click the button below to begin.</p>

<p><%= link_to "Start", sellers_waitlist_invitation_url(@waiting_seller.invitation_token), class: 'button' %></p>
