.view-sessions-new {
  .accounts {
    @extend .row;

    padding: 1rem 0 2rem;
    border-bottom: 1px solid $grey-2;
    margin-bottom: 2rem;

    li {
      @extend .col-md-6;
      list-style: none;
    }

    .box {
      background: $light-blue;
      color: #fff;
      padding: 1rem;
    }

    h2 {
      font-size: 1.3rem;
    }

    a.action {
      @extend .btn;
      @extend .btn-light;
      font-size: 1rem;
    }
  }

  .sign-in-form {
    @extend .row;

    header {
      @extend .col-md-4;
      padding-right: 3em;
    }

    form {
      @extend .col-md-8;
    }
  }
}
