.view-user-sessions-new {
  .registration, .sign-in-form {
    @include make-row();

    header {
      @include make-col-ready();
      @include media-breakpoint-up(md) {
        @include make-col(4);
      }

      padding-right: 3em;
    }

    form, .accounts {
      @include make-col-ready();
      @include media-breakpoint-up(md) {
        @include make-col(8);
      }
    }
  }

  .registration {
    border-bottom: 1px solid $grey-1;
    padding-bottom: .5rem;
    margin-bottom: 2.5rem;
  }

  .accounts {
    padding-left: 0;

    li {
      display: block;
      list-style: none;

      &.buyer-account {
        padding-bottom: .5rem;
      }
    }

    a.action {
      @include button-primary;
      
      font-size: 1.1rem;
    }
  }
}
